{% extends 'flatpages/base.html' %}
{% load custom_filter %}

{% block titile %}
    {{ post_detail.title }}
{% endblock titile%}
{% block content %}
{% include 'flatpages/navbar.html' %}

<div class="card">
  <h5 class="card-header">{{ post_detail.title|censor }}</h5>
  <div class="card-body">
    <p class="card-text">{{ post_detail.text|censor|linebreaks }}</p>
  </div>
    <div class="card-footer text-muted">
     Автор: {{ post_detail.author.user}}
    </div>
    {% if perms.news.change_post %}
  <div class="container text-left mx-0">
    <a href="{% url 'post_update' pk=post_detail.pk %}" class="btn btn-outline-secondary">Редактировать</a>
    <a href="{% url 'post_delete' pk=post_detail.pk %}" class="btn btn-outline-danger">Удалить</a>
</div>

    {% endif %}

{% endblock content %}
